body {
background-repeat: none;
background-size: cover;

}

.carousel-container {
  margin: 0.5rem auto;
  width: 40%;
}

.header {
  font-size: 2rem;
  height: 3rem;
  background-color: black;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}