body {
background-repeat: none;
background-size: cover;

}

.carousel-container {
  margin: 0.5rem auto;
  width: 40%;
}

.header {
  font-size: 2rem;
  height: 3rem;
  background-color: black;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subheader {
  font-size: 2rem;
  height: 3rem;
  background-color: black;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subheader button {
  margin: auto 0.5rem;
}

.funfacts {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.funfacts ol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: white;
  height: 100%;
  width: 50%;
}

@media (max-width: 600px) {
  .carousel-container {
    width: 80%;
  }
  .funfacts ol {
    width: 80%;
  }
}